<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>
            <img src="{{book.book_image.url}}" alt="">
        </td>
    </tr>
    <tr>
        <td>Bookname</td><td>{{book.book_name}}</td>
    </tr>
    <tr>
        <td>Bookprice</td><td>{{book.price}}</td>
    </tr>
    <tr>
        <td>pages</td><td>{{book.pages}}</td>
    </tr>
    <tr>
        <td>Author</td><td>{{book.author}}</td>
    </tr>
</table>

</body>
</html>